/* Styles for scrollmenu */
div.scrollmenu {
  background-color: #fafafa;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  display: -webkit-flex; /* Add -webkit- prefix */
  display: flex;
  gap: 20px;
  padding: 17px;
  border-bottom: 1px solid black;
}

/* Styles for scrollmenu (mobile) */
@media only screen and (max-width: 768px) {
  div.scrollmenu {
    background-color: rgb(255, 255, 255);
    gap: 20px;
    padding: 20px 0px 10px 20px;
    text-transform: uppercase;
    font-family: "Khand";
    /* font-family: Arial, Helvetica, sans-serif; */
  }
}

/* Hide scrollbar in WebKit browsers */
.scrollmenu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Smooth scroll for the whole page */
html {
  scroll-behavior: smooth;
}

/* Link styles inside scrollmenu */
div.scrollmenu a {
  display: inline-block;
  font-size: 1.9vh;
  background-color: rgba(220, 19, 19, 0) !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s, border-radius 0.3s, color 0.3s; /* Add transition for smooth effect */
}

/* Link sstules inside scrollmenu (mobile) */
@media only screen and (max-width: 768px) {
  div.scrollmenu a {
    display: inline-block;
    font-size: 2vh;
    background-color: rgba(220, 19, 19, 0) !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color 0.3s, border-radius 0.3s, color 0.3s; /* Add transition for smooth effect */
  }

  div.scrollmenu a:hover,
  div.scrollmenu a:focus,
  div.scrollmenu a:active {
    background-color: rgba(69, 180, 228, 0.566) !important;
    border-radius: 100px;
    border: 1px solid rgb(118, 176, 221);
    color: rgb(255, 255, 255) !important;
  }
}

/* Body styles */
body {
  display: flex;
  flex-direction: column;
  background-image: url("../Images/Untitled1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  margin: 0px 0;
  padding-top: 0px;
  padding-left: 17px;
  padding-right: 17px;
}

/* Body styles (mobile) */
@media only screen and (max-width: 768px) {
  body {
    margin-bottom: -50px;
    background-color: rgb(145, 224, 248);
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Content styles */
.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body .content {
  height: 85vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

/* Child div inside content PIZZA??*/
.content div {
  width: 100%;
}

/* Category line styles */
.lineCategory {
  height: 3px;
  border-width: 1;
  color: rgba(128, 128, 128, 0.002);
  background-color: rgb(12, 2, 162);
  display: none;
}

/* Category line styles (mobile) */
@media only screen and (max-width: 768px) {
  .lineCategory {
    display: none;
  }
}

/* Line styles */
.line {
  border-top: 3px blue;
}

/* Title styles */
.Naslov {
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: -30px;
  padding: 100px 20px 40px 20px;
  /* background-color: rgb(148, 217, 231); */
  color: rgb(38, 38, 38);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Khand";
  font-size: 52px;
  text-transform: uppercase;
}

/* Title styles (mobile) */
@media only screen and (max-width: 768px) {
  .Naslov {
    font-size: 30px;
    font-weight: 600;
    margin-top: -60px;
    margin-bottom: -60px;
    padding: 100px 20px 40px 20px;
    /* background-color: rgb(148, 217, 231); */
    color: rgb(68, 142, 158);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Khand";
  }
}

/* Item styles */
.Items {
  font-weight: 400;
  font-size: 2.8vh;
  font-family: cursive;
  margin-top: -10px;
  margin-bottom: -30px;
  padding: 40px 40px 40px 50px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "GloriaHallelujah";
  font-size: 2vh;
  color: rgb(38, 38, 38);
  /* background-color: rgb(148, 217, 231); */
  font-weight: 500;
}

/* Item styles (mobile) */
@media only screen and (max-width: 768px) {
  .Items {
    margin-top: -10px;
    margin-bottom: -30px;
    padding: 40px 40px 40px 50px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "GloriaHallelujah";
    font-size: 2.4vh;
    color: rgb(38, 38, 38);
    /* background-color: rgb(148, 217, 231); */
    font-weight: 500;
  }
}

/* Money styles */
.money {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 2.5vh;
  padding-top: 0.2vh;
  font-family: "Khand";
}

/* Money styles (mobile) */
@media only screen and (max-width: 768px) {
  .money {
    color: rgb(68, 142, 158);
    font-size: 2.3vh;
    font-weight: 600;
    font-family: "Khand";
  }
}

/* Element width */
#Kafe,
#PrirodniSokovi,
#BezalkoholnaPica,
#Vode,
#GaziraniSokovi,
#EnergetskiNapici,
#Piva,
#Tocenopivo,
#Vodke,
#Likeri,
#Tekile,
#Konjak,
#Gin,
#Viski,
#Piva,
#Cideri,
#Rakija,
#VinaC,
#VinaF,
#LetnjiMix,
#Pizza,
#Kokteli,
#Sendvici,
#NonAlchoholic {
  width: 100%;
}

/* Parent food item styles */
.parentHrana {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Child name styles */
.childName {
  font-weight: bold;
  font-size: 3vh;
  font-family: cursive;
}

/* Child size styles */
.childSize p {
  text-align: right;
  font-weight: bold;
  font-size: 2.4vh;
  font-family: cursive;
}

/* Child cost styles */
.childCost p {
  text-align: right;
  font-weight: bold;
  font-size: 2.4vh;
  font-family: cursive;
  color: #000000;
}

/* Description styles */
.Opis p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.8vh;
  font-family: cursive;
}

/* Border styles */
.borderClass {
  border-style: none none dotted none;
  border-color: blue;
}

/* Span description styles */
.spanOpis {
  font-size: 1.5vh;
  font-family: "GloriaHallelujah";
}

/* Pizzas */
.PizzaItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -40px;
  margin-top: -40px;
  font-family: "GloriaHallelujah";
  font-size: 2.4vh;
}

.PizzaNameDescription {
  padding: 40px 40px;
  flex: 1;
}

.SizesAndPrices {
  flex: 30;
  text-align: right;
  font-size: 1.8vh;
  font-weight: 600;
  font-family: "Khand";
}

.SizesAndPrices p {
  margin: 5px 0;
}

.English {
  color: rgb(242, 218, 60);
}

.wavy-line {
  width: 100px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto 0 auto;
}
.wavy-line:before {
  content: attr(data-text);
  position: relative;
  top: 0px;
  left: 1.5%;
  color: rgba(239, 8, 8, 0);
  width: calc(100% + 27px);
  font-size: 3em;
  text-decoration-style: wavy;
  text-decoration-color: rgb(68, 142, 158);
  text-decoration-line: underline;
}
